body,html,#container{
  height: 100%;
  margin: 0px;
  font-size: 12px;
}
h1,h2,h3,h4,h5,p {
  margin: 0;
}
a {
  text-decoration: none;
}

.amap-marker-label {
  font-size: 13px;
  border: 1px solid orange;
  /* background-color: transparent; */
  border-radius: 10px 0 0 0;
  color: #690441;
}

#search {
  position: fixed;
  top: 12px;
  left: 20px;
}
.search-ipt {
  font-size: 24px;
}
.search-btn {
  font-size: 24px;
}

.shop-info-box {
  padding-left: 15px;
}
.shop-info-main {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px #cccccc solid;
}
.shop-info-main:after{
  content: '';
  display: block;
  clear: both;
}
.shop-info-main .shop-info-img {
  float: left;
  margin-right: 5px;
  height: 120px;
}
.shop-info-main .shop-info-content {
  float: left;
  height: 120px;
}
.shop-info-img img {
  width: 120px;
}
.shop-info-content .shop-info-name {
  font-size: 20px;
  color: #00000;
}
.shop-info-content .shop-info-price {
  font-size: 18px;
  color: #ff9d0c;
  margin-top: 6px;
}
.shop-info-content .shop-info-price del {
  font-size: 16px;
  color: #999999;
  margin-left: 10px;
}
.shop-info-content .shop-info-type {
  font-size: 16px;
  color: #666666;
  margin-top: 14px;
}
.shop-info-content .shop-info-type i {
  background: url("../img/icon_video.png");
  background-repeat: no-repeat;
  background-size: 25px 12px;
  width: 25px;
  height: 12px;
  display: inline-block;
}
.shop-info-content .shop-info-addr {
  font-size: 16px;
  color: #666666;
  margin-top: 6px;
}
.shop-info-footer:after {
  content: '';
  display: block;
  clear: both;
}
.shop-info-footer .shop-info-tel {
  display: block;
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  color: #ff9d0c;
  border-top: 1px #cccccc solid;
  float: left;
}
.shop-info-footer .shop-info-tel i {
  background: url("../img/icon_tel.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.shop-info-footer .shop-info-nav {
  display: block;
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  color: #ff9d0c;
  border-top: 1px #cccccc solid;
  float: left;
}
.shop-info-footer .shop-info-nav i {
  background: url("../img/icon_nav.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.shop-info-footer .shop-info-fastbuy {
  display: block;
  background-color: #ff9d0c;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  float: right;
}