#container{
	width:100%;
}
.mapLivefooter{
	width:100%;
	height: 159px;
	padding-left:12px;
}
.mapLivefooter-top{
	width:100%;
	height: 111px;
	padding: 10px 12px;
	padding-left: 0px;
	border-bottom:1px solid #eee ;
	background: #fff;
}
.mapLivefooter-top-left{
	width:90px;
	height:90px;
	float: left;
}
.mapLivefooter-top-left img{
	width:100%;
	height:100%;	
}
.mapLivefooter-top-right{
	width:69.5%;
	height:100%;
	float: left;
	position:relative;
	padding-left: 10px;	
}
.mapLivefooter-top-right h2{
	font-size: 15px;
}
.mapLivefooter-top-rightPosition{
	position: absolute;
	right: 0;
	top: -35px;
	width:76px;
	height:76px;
	z-index: 999;
}
.map-liveprice{
	margin-bottom: 8px;
}
.map-liveprice span{
	font-size: 15px;
	color: #ff9d0c;
}
.map-liveprice del{
	font-size: 12px;
	color: #999999;
	margin-left: 5px;
}
.map-livestate{
	padding-left:25px ;
	background: url(../img/video.png) no-repeat left center;
	background-size:20px 12.5px ;
	font-size: 12px;
	color: #666666;
	margin-bottom: 6px;
}
.map-livedistance{
	font-size: 12px;
	color: #666666;
}





.mapLivefooter-bottom{
	width: 100%;
	height: 48px;
	
}
.mapLivefooter-bottom a{
	width:32.3%;
	height: 48px;
	line-height: 48px;
	display: inline-block;
	background: #FFFFFF;
	text-align: center;
	color:#ff9d0c;
	font-size: 15px;
}
.mapLivefooter-bottom a:nth-child(1){
	background: url(../img/phone.png) no-repeat 16px center;
	background-size:13px 15px;
}
.mapLivefooter-bottom a:nth-child(2){
	background: url(../img/daohang.png) no-repeat 16px center;
	background-size:13px 15px;
}
.mapLivefooter-bottom a:last-child{
	background: #ff9d0c;
	color:#fff;
}
